# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# 환경변수 파일
.env
*.env
assets/config/.env

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
**/build/
.packages



# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


# minji
pubspec.lock
pubspec.yaml
package_config_subset
package_config_subset.json
version
cow_management/android/local.properties
cow_management/ios/Flutter/flutter_export_environment.sh
cow_management/ios/Flutter/Generated.xcconfig
cow_management/macos/Flutter/ephemeral/flutter_export_environment.sh
cow_management/macos/Flutter/ephemeral/Flutter-Generated.xcconfig

# Android
/android/.gradle/
/android/app/build/

# iOS
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig

# macOS
/macos/Flutter/ephemeral/
/macos/Flutter/Flutter.framework

# Windows
/windows/flutter/ephemeral/
/windows/Flutter/Flutter.framework

# Web
/web/generated_plugin_registrant.dart

# Build outputs
android/app/build/
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
.dart_tool/
android/.gradle/
android/local.properties
ios/Runner/GeneratedPluginRegistrant.*
linux/flutter/
macos/Flutter/
windows/flutter/
*.lock

# minjiAdd commentMore actions
pubspec.lock
pubspec.yaml
package_config_subset
package_config_subset.json
version
cow_management/android/local.properties
cow_management/ios/Flutter/flutter_export_environment.sh
cow_management/ios/Flutter/Generated.xcconfig
cow_management/macos/Flutter/ephemeral/flutter_export_environment.sh
cow_management/macos/Flutter/ephemeral/Flutter-Generated.xcconfig