# =========================================
# Miscellaneous
# =========================================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
Thumbs.db
.devtools/
.devlog/
coverage/
test/**.mocks.dart
test/**.dart
test/**.g.dart
test/**.gr.dart
test/**.gr.dart
.lock

# =========================================
# IntelliJ / Android Studio 관련
# =========================================
*.iml
*.ipr
*.iws
.idea/

# =========================================
# VS Code 설정
# =========================================
.vscode/

# =========================================
# 환경변수 파일
# =========================================
.env
*.env
assets/config/.env

# =========================================
# Flutter / Dart / Pub 관련
# =========================================
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.packages
.melos_tool/
.dart_server/
build/
**/build/

# =========================================
# Obfuscation & Symbolication
# =========================================
app.*.symbols
app.*.map.json

# =========================================
# Android 관련
# =========================================
android/.gradle/
android/app/build/
android/app/debug
android/app/profile
android/app/release
android/local.properties
*.so
ios/Runner/GeneratedPluginRegistrant.*

# =========================================
# iOS / macOS 관련
# =========================================
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/Runner.xcworkspace/
ios/build/
macos/Flutter/ephemeral/
macos/Pods/
macos/build/
macos/Flutter/

# =========================================
# Windows / Linux 관련
# =========================================
windows/flutter/ephemeral/
windows/build/
windows/flutter/
linux/flutter/ephemeral/
linux/build/
linux/flutter/

# =========================================
# Web 관련 (generated)
# =========================================
web/generated_plugin_registrant.dart

# =========================================
# Firebase 관련
# =========================================
firebase_options.dart

# =========================================
# 프로젝트 특이 설정 (minji)
# =========================================
pubspec.lock
package_config_subset
package_config_subset.json
version
cow_management/android/local.properties
cow_management/ios/Flutter/flutter_export_environment.sh
cow_management/ios/Flutter/Generated.xcconfig
cow_management/macos/Flutter/ephemeral/flutter_export_environment.sh
cow_management/macos/Flutter/ephemeral/Flutter-Generated.xcconfig

